<!-- Existing Addresses -->
{% for row in rows %}
	<div
		id="manage-address-{{ row.content['#row']._entity.nid.value }}" class="border-2 rounded-xl bg-white p-6 shadow-sm hover:shadow-lg transition">
		<!-- Header with title and icons -->
		<div class="flex justify-between items-center">
			<h1 class="text-xl font-bold font-nevis capitalize">
				{{ row.content['#row']._entity.field_address_type.0.value }}
			</h1>
			<div
				class="inline-flex gap-4">
				<!-- Edit link -->
				<a href="/edit-address/{{ row.content['#row']._entity.nid.value }}">
					<img src="/themes/custom/engage_theme/images/Profile/editing.svg" alt="edit" class="h-6 w-6 cursor-pointer">
				</a>
				<a href="javascript:void(0);" data-nid="{{ row.content['#row']._entity.nid.value }}" class="delete-address-btn cursor-pointer">
					<img src="/themes/custom/engage_theme/images/Profile/delete_all.png" alt="delete" class="h-6 w-6">
				</a>

			</div>
		</div>

		<!-- Address Body -->
		<div class="mt-6">
			<address class="text-base font-normal font-sans not-italic leading-relaxed text-gray-700">
				{{ row.content['#row']._entity.field_street_and_house_no.0.value }},<br>
				{{ row.content['#row']._entity.field_landmark.0.value }},<br>
				{{ row.content['#row']._entity.field_area_address.0.value }},
				{{ row.content['#row']._entity.field_address_country.0.value }}
				-
				{{ row.content['#row']._entity.field_postal_code.0.value }}
			</address>
		</div>
	</div>
{% endfor %}
