<div class="mx-auto max-w-screen-xl py-2 px-4">
	<div class="flex justify-center">
		<div class="container my-idea-wrapper">
			<div
				class="flex justify-between items-center">
				<!-- Back Arrow Button -->
				<img
				src="themes/custom/engage_theme/images/Profile/reverse-arrow.svg" alt="Back Arrow" class="w-5 sm:w-7 cursor-pointer object-contain" onclick="history.go(-1)"/>

				<!-- Heading -->
				<h1 class="text-xl sm:text-2xl md:text-5xl font-bold text-center mt-8 md:mt-12 mb-8 md:mb-20 translateLabel search_field" label-alias="la_my_profile">
					Add New Idea
				</h1>
				<!-- Placeholder for symmetry -->
				<div class="w-5 sm:w-7"></div>
			</div>
		</div>
	</div>


	<!-- ✅ Ensure form is wrapped inside this div -->
	<div class="add-ideas-user border-[2px] border-inherit rounded-lg p-12 bg-white" id="engage_form_input">
		<div id="ideas-flex" class="flex gap-[2rem]">
			<div class="w-[50%]">
				{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
                    				field: form.first_name
                				}) }}
			</div>
			<div class="w-[50%]">
				{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
                    				field: form.author
                				}) }}
			</div>

		</div>
		<div class="mt-4">
			{{ include('@engage_theme/components/form/field--floating-text.html.twig', {
                    				field: form.category_idea
                				}) }}
		</div>
		<div>
			{# {{ include('@engage_theme/components/form/field--floating-text.html.twig', {
					                    				field: form.idea_content
					                				}) }} #}
			{{ form.idea_content }}
		</div>
		<div class="w-[50%] mt-4">
			{{ form.upload_file }}
		</div>
		<div class="mb-4 relative">

			{{ form.terms }}
		</div>
		<div class="flex gap-2 mt-8">
			{{ form.actions.submit }}
			{{ form.actions.reset }}
		</div>
	</div>
</div>
{{ form.form_src_id }}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}</div>
