<div class="px-10 py-8 rounded-lg xs:px-5 xs:py-5 s:px-5 s:py-5">
	<div class="min-h-screen mt-[100px] flex items-center justify-center px-6 py-10">
		<div class="flex flex-row gap-10 max-w-5xl w-full">
        <div>
        <div class="ml-[70px] mr-[86px] pt-6 pb-10 xs:hidden s:hidden">
			<img src="themes/custom/engage_theme/images/Profile/white-arrow-left.svg" alt="" class="cursor-pointer" onclick="window.location.href='my-account'">
		</div>
        </div>
			<div class="w-auto p-6 px-10 rounded-xl bg-white shadow-lg" id="engage_form_input">
				<h1 class="text-black font-bold text-4xl font-sans s:text-lg xs:text-lg">Change Password</h1>
				<h6 class="text-[#414141] font-light text-base font-sans mt-2 s:text-sm xs:text-sm">Please create a new password.</h6>
				<div class="border-b border-gray-200 my-4"></div>

				<!-- Old Password -->
				<div class="my-8 s:my-4 xs:my-4">
					<div class="relative">
						{{ form.old_password }}
						<span class="absolute z-10 right-3 top-[1.1rem]">
							<img src="themes/custom/engage_theme/images/Profile/hide-eye.svg" class="cursor-pointer hide-eye-old">
							<img src="themes/custom/engage_theme/images/Profile/show-eye.svg" class="cursor-pointer show-eye-old" hidden>
						</span>
					</div>
				</div>

				<!-- New Password -->
				<div class="my-8 s:my-4 xs:my-4">
					<div class="relative">
						{{ form.new_password }}
						<div id="password-tooltip-new" class="absolute z-50 mt-2 left-0 invisible opacity-0 transition-opacity duration-300 ease-in-out bg-white border border-gray-300 p-4 rounded-lg shadow text-sm text-gray-700 w-full max-w-md">
							<p class="font-semibold mb-2 text-base">Password must contain:</p>
							<ul class="list-disc ml-5 space-y-1">
								<li id="rule-length-new" class="text-red-600">At least 8 characters</li>
								<li id="rule-uppercase-new" class="text-red-600">At least one uppercase letter</li>
								<li id="rule-lowercase-new" class="text-red-600">At least one lowercase letter</li>
								<li id="rule-number-new" class="text-red-600">At least one number</li>
								<li id="rule-special-new" class="text-red-600">At least one special character (@!$#%^&*)</li>
							</ul>
						</div>
						<span class="absolute z-10 right-3 top-[1.1rem]">
							<img src="themes/custom/engage_theme/images/Profile/hide-eye.svg" class="cursor-pointer hide-eye-new">
							<img src="themes/custom/engage_theme/images/Profile/show-eye.svg" class="cursor-pointer show-eye-new" hidden>
						</span>
					</div>
				</div>

				<!-- Confirm Password -->
				<div class="my-8 s:my-4 xs:my-4">
					<div class="relative">
						{{ form.confirm_password }}
						<div id="password-tooltip-confirm" class="absolute z-50 mt-2 left-0 invisible opacity-0 transition-opacity duration-300 ease-in-out bg-white border border-gray-300 p-4 rounded-lg shadow text-sm text-gray-700 w-full max-w-md">
							<p class="font-semibold mb-2 text-base">Password must contain:</p>
							<ul class="list-disc ml-5 space-y-1">
								<li id="rule-length-confirm" class="text-red-600">At least 8 characters</li>
								<li id="rule-uppercase-confirm" class="text-red-600">At least one uppercase letter</li>
								<li id="rule-lowercase-confirm" class="text-red-600">At least one lowercase letter</li>
								<li id="rule-number-confirm" class="text-red-600">At least one number</li>
								<li id="rule-special-confirm" class="text-red-600">At least one special character (@!$#%^&*)</li>
                                <li id="passmatch">Passwords must match</li>
							</ul>
						</div>
                        <span class="absolute z-10 right-3 top-[1.1rem]">
						<img src="themes/custom/engage_theme/images/Profile/hide-eye.svg" class="cursor-pointer hide-eye-con">
						<img src="themes/custom/engage_theme/images/Profile/show-eye.svg" class="cursor-pointer show-eye-con " hidden>
					</span>
					</div>
					
				</div>
                <!-- Submit Button -->
                <div class="flex flex-col sm:flex-row gap-8">
				<div>{{ form.actions.submit }}</div>
			</div>
			</div>


			
			
		</div>


	</div>
	{{ form.form_build_id }}
	{{ form.form_token }}
	{{ form.form_id }}
</div></div>
